.desktop {
    width: 100vw;
    height: 100vh;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #61dafb;
    margin: 5px;
    display: inline-flex;
}
.card__name{
    margin: auto;
}

.card__name div{
    text-align: center;
}


.add {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background-color: yellow;
    margin: 5px;
    display: inline-flex;

}

.add__name {
    margin: auto;
}
