.desktop {
    width: 100vw;
    height: 100vh;
}

.card {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    gap: 5px 5px;
    grid-template-areas:
    "card__delete"
    "card__name"
    "card__transcription"
    "card__field";
    background-color: chartreuse;
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;

}

.card__delete {
    grid-area: card__delete;
    justify-self: end;
    align-self: center;
    text-align: center;
    vertical-align: center;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.card__name {
    grid-area: card__name;
    justify-self: center;
    font-size: 25px;
}
.card__transcription {
    justify-self: center;
    align-self: center;
    grid-area: card__transcription;
    padding: 0 5px;
    border-radius: 5px;
}

.card__field {
    justify-self: center;
    align-self: center;
    grid-area: card__field;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.add {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    background-color: yellow;
    display: inline-grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas:
    "add__name";
}

.add__name {
    justify-self: center;
    align-self: center;
    grid-area: add__name;
}
