.desktop{
    width: 100vw;
    height: 100vh;
}

.card{
    width: 100px;
    height: 100px;
    background-color: #61dafb;
    margin: 5px;
    display: inline-block;
}

.add{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background-color: yellow;
    margin: 5px;
    display: inline-block;
}